body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:136px;
  width:640px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:3px;
  width:640px;
  height:4px;
}
#u1 {
  position:absolute;
  left:0px;
  top:1048px;
  width:640px;
  height:88px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u2 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:1044px;
  width:640px;
  height:4px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:4px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-6px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:1048px;
  width:640px;
  height:88px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:13px;
  top:14px;
  width:11px;
  height:11px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:14px;
  width:11px;
  height:11px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:55px;
  top:14px;
  width:11px;
  height:11px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:69px;
  top:14px;
  width:11px;
  height:11px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:41px;
  top:14px;
  width:11px;
  height:11px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:6px;
  width:95px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:185px;
  top:9px;
  width:25px;
  height:20px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:4px;
  width:150px;
  height:31px;
  font-size:26px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:476px;
  top:4px;
  width:31px;
  height:31px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:514px;
  top:10px;
  width:116px;
  height:19px;
  font-family:'', '', 'Helvetica Neue LT Std';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:500px;
  top:74px;
  width:39px;
  height:39px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#2A4898;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-2px;
  width:35px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:70px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:8px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:3px;
  width:27px;
  height:5px;
}
#u36 {
  position:absolute;
  left:0px;
  top:25px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:3px;
  width:27px;
  height:5px;
}
#u37 {
  position:absolute;
  left:575px;
  top:75px;
  width:38px;
  height:38px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:100px;
  top:64px;
  width:440px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#294898;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:37px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:264px;
  top:100px;
  width:101px;
  height:23px;
  font-size:20px;
  color:#294898;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:401px;
  top:291px;
  width:159px;
  height:48px;
  font-size:28px;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:270px;
  top:329px;
  width:290px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:286px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:409px;
  top:398px;
  width:159px;
  height:48px;
  font-size:28px;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:288px;
  top:438px;
  width:280px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
}
#u50 {
  position:absolute;
  left:10px;
  top:3px;
  width:268px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:401px;
  top:520px;
  width:159px;
  height:48px;
  font-size:28px;
  text-align:right;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:320px;
  top:558px;
  width:240px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:right;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
}
#u54 {
  position:absolute;
  left:10px;
  top:3px;
  width:228px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:12px;
  top:232px;
  width:590px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u56 {
  position:absolute;
  left:65px;
  top:288px;
  width:292px;
  height:48px;
  font-size:32px;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:48px;
}
#u57 {
  position:absolute;
  left:2px;
  top:8px;
  width:288px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:12px;
  top:378px;
  width:608px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:608px;
  height:2px;
}
#u59 {
  position:absolute;
  left:65px;
  top:398px;
  width:339px;
  height:48px;
  font-size:32px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:335px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:12px;
  top:490px;
  width:608px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:4px;
  width:608px;
  height:2px;
}
#u62 {
  position:absolute;
  left:65px;
  top:510px;
  width:339px;
  height:48px;
  font-size:32px;
  text-align:left;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:335px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:12px;
  top:600px;
  width:608px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:4px;
  width:608px;
  height:2px;
}
#u65 {
  position:absolute;
  left:65px;
  top:336px;
  width:294px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:32px;
}
#u66 {
  position:absolute;
  left:2px;
  top:3px;
  width:290px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:65px;
  top:444px;
  width:274px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:32px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:270px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:65px;
  top:558px;
  width:148px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:232px;
  width:640px;
  height:46px;
  font-size:28px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:46px;
}
#u72 {
  position:absolute;
  left:18px;
  top:7px;
  width:620px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:12px;
  top:296px;
}
#u73_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u73_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u79 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:14px;
  top:406px;
}
#u80_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u80_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u86 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:12px;
  top:518px;
}
#u87_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u87_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u93 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:146px;
  width:640px;
  height:84px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:84px;
}
#u95 {
  position:absolute;
  left:2px;
  top:23px;
  width:636px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:400px;
  top:1075px;
  width:218px;
  height:34px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099FF;
  text-align:right;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:34px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:20px;
  top:1075px;
  width:218px;
  height:34px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:34px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:598px;
  top:418px;
  width:22px;
  height:40px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:598px;
  top:308px;
  width:22px;
  height:40px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u103 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:598px;
  top:540px;
  width:22px;
  height:40px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:272px;
  top:240px;
  width:280px;
  height:32px;
  font-size:22px;
  color:#999999;
  text-align:right;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
}
#u107 {
  position:absolute;
  left:10px;
  top:3px;
  width:268px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:210px;
  top:422px;
  width:250px;
  height:198px;
  font-size:28px;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:198px;
}
#u109 {
  position:absolute;
  left:2px;
  top:51px;
  width:246px;
  word-wrap:break-word;
}
