body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:16px;
  top:16px;
  width:614px;
  height:432px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:432px;
}
#u2 {
  position:absolute;
  left:2px;
  top:208px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:16px;
  top:16px;
  width:614px;
  height:48px;
  font-size:28px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:48px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:610px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:457px;
  top:161px;
  width:153px;
  height:32px;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-1px;
  width:141px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:457px;
  top:130px;
  width:153px;
  height:30px;
  font-size:16px;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u8 {
  position:absolute;
  left:5px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:16px;
  top:112px;
  width:110px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u10 {
  position:absolute;
  left:10px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:126px;
  top:112px;
  width:205px;
  height:48px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u12 {
  position:absolute;
  left:10px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:331px;
  top:112px;
  width:110px;
  height:48px;
  font-size:18px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u14 {
  position:absolute;
  left:10px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:16px;
  top:166px;
  width:110px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u16 {
  position:absolute;
  left:10px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:126px;
  top:166px;
  width:205px;
  height:48px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u18 {
  position:absolute;
  left:10px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:331px;
  top:166px;
  width:110px;
  height:48px;
  font-size:18px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u20 {
  position:absolute;
  left:10px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:16px;
  top:80px;
  width:425px;
  height:32px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:32px;
}
#u22 {
  position:absolute;
  left:10px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:16px;
  top:214px;
  width:110px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u24 {
  position:absolute;
  left:10px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:126px;
  top:214px;
  width:205px;
  height:48px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u26 {
  position:absolute;
  left:10px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:331px;
  top:214px;
  width:110px;
  height:48px;
  font-size:18px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u28 {
  position:absolute;
  left:10px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:16px;
  top:262px;
  width:110px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u30 {
  position:absolute;
  left:10px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:126px;
  top:262px;
  width:205px;
  height:48px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u32 {
  position:absolute;
  left:10px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:331px;
  top:262px;
  width:110px;
  height:48px;
  font-size:18px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u34 {
  position:absolute;
  left:10px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:16px;
  top:309px;
  width:110px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u36 {
  position:absolute;
  left:10px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:126px;
  top:309px;
  width:205px;
  height:48px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u38 {
  position:absolute;
  left:10px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:331px;
  top:309px;
  width:110px;
  height:48px;
  font-size:18px;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
}
#u40 {
  position:absolute;
  left:10px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:457px;
  top:288px;
  width:153px;
  height:48px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:48px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:457px;
  top:270px;
  width:153px;
  height:32px;
  font-size:16px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:32px;
}
#u44 {
  position:absolute;
  left:5px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:16px;
  top:160px;
  width:414px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:397px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:414px;
  height:1px;
}
#u46 {
  position:absolute;
  left:16px;
  top:208px;
  width:414px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:397px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:414px;
  height:1px;
}
#u47 {
  position:absolute;
  left:16px;
  top:256px;
  width:414px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:397px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:414px;
  height:1px;
}
#u48 {
  position:absolute;
  left:16px;
  top:304px;
  width:414px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:397px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:414px;
  height:1px;
}
#u49 {
  position:absolute;
  left:16px;
  top:352px;
  width:414px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:397px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:414px;
  height:1px;
}
#u50 {
  position:absolute;
  left:457px;
  top:187px;
  width:153px;
  height:30px;
  font-size:16px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u51 {
  position:absolute;
  left:5px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:646px;
  top:16px;
  width:280px;
  height:224px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:224px;
}
#u54 {
  position:absolute;
  left:2px;
  top:104px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:646px;
  top:16px;
  width:280px;
  height:78px;
  font-size:28px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:78px;
}
#u56 {
  position:absolute;
  left:10px;
  top:23px;
  width:260px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:646px;
  top:168px;
  width:280px;
  height:72px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:72px;
}
#u58 {
  position:absolute;
  left:10px;
  top:2px;
  width:268px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:646px;
  top:96px;
  width:280px;
  height:62px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:62px;
}
#u60 {
  position:absolute;
  left:10px;
  top:2px;
  width:268px;
  word-wrap:break-word;
}
